# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env

# Virtual env
venv/
.env/
.venv/

# VS Code
.vscode/
.idea/

# Airflow
airflow/logs/
airflow/*.pid

# Data / local output
data/
*.parquet
*.csv
*.log


*.json
*.key
*.pem
.boto
.aws/


*.tmp

.DS_Store
__pycache__/
*.pyc


.env
gcp-auth.json
gcp-auth-local.json
.user.yml


airflow/logs/
dbt_project/target/
dbt_project/dbt_packages/
postgres_data/


.idea/
.vscode/
    